/* 
Name: imran mohammed
File: style.css
Date: 22 July 2025
Styles for bouncing balls animation and evil circle game.
*/

html, body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  background-color: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;
  color: transparent;
  text-shadow: 0 0 4px white;
}

p {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 5px;
  color: #aaa;
}
